* {
	box-sizing: content-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Microsoft YaHei",微软雅黑;
}
.wrapper {
	margin: 20px;
	padding: 20px;
	background-color: #EEE;
	border: 1px solid #CCC;
	overflow: auto;
}
.container {
	padding: 20px;
	background-color: #FFF;
	border: 1px solid #CCC;
}
.team {
	width: 160px;
	height: 80px;
	float: left;
}
.person {
	width: 80px;
	height: 360px;
	float: right;
}
article {
	margin: 0 140px 0 220px;
	line-height: 25px;
}
#imgTeam {
	float: left;
	vertical-align: top;
}
h1 {
	float: right;
}
img {
	margin-bottom: 10px;
	width: 80px;
	height: 80px;
}
p {
	margin: 10px;
}
