.grayBlock {
	width: 400px;
	height: 200px;
	background-color: #ccc;
	position: relative;
}
.circle {
	width: 50px;
	height: 50px;
	background-color: #fc0;
	position: absolute;
}
#cLeft {
	border-radius: 0 0 50px 0;
}
#cRight {
	border-radius: 50px 0 0 0;
	right: 0;
	bottom: 0;
}